@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

:root {
    --website1: #BB8588;
    --website2: #D8A48F;
    --website3: #EFEBCE;
    --website4: #D6CE93;
    --website5: #A3A380;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lora','Times New Roman', Times, serif;
}

body {
    background: var(--website1);
    
}
 .dummyspace {
    height: 50vh;
 }
/*
=======================================
        Start of NavBar
=======================================
*/

.header {
    background-color: var(--website2);
    box-shadow: 1px 1px 4px 0 var(--website2);
    width: 100%;
    position: sticky;
    z-index: 3;
    top: 0;
    display: inline-block;
}


.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--website2);
    margin-bottom: 10px;
}
  
.header li a {
    font-size: 1.3rem;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-bottom: 30px;
  }
  
.header .menu-btn:hover {
    background-color: var(--website1);
    border-radius: 40px;
    border: 1.5px solid white;
    height: 80%;
}

.logo-img {
    display: none;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin-top: 10px;
    padding: 10px;
    color: black;
    border-bottom: 1.5px solid white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    text-align: center;
}

.logo h3 {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: #111;
    font-size: 5rem;
}

.logo h3 span {
    font-size: 2.5rem;
    font-family: cursive;
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: animate 5s linear infinite;
}

h3 span:nth-child(1)
{
	animation-delay: 0.25s;
}
h3 span:nth-child(2)
{
	animation-delay: 0.5s;
}
h3 span:nth-child(3)
{
	animation-delay: 0.75s;
}

@keyframes animate
{
	0%,100%
	{
		color: var(--website1);
		filter: blur(2px);
		text-shadow: 0 0 10px whitesmoke,
		             0 0 20px whitesmoke,
		             0 0 40px whitesmoke,
		             0 0 80px whitesmoke,
		             0 0 120px whitesmoke;
	}
	5%,95%
	{
		color: #111;
		filter: blur(0px);
		text-shadow: none;
	}

}

  /* menu */
  
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
  
  /* menu icon */
  
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
  
.header .menu-icon .navicon {
    background: white;
    display: flex;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 24px;
}
  
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: flex;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
  
.header .menu-icon .navicon:before {
    top: 5px;
}
  
.header .menu-icon .navicon:after {
    top: -5px;
}
  
  /* menu btn */
  
.header .menu-btn {
    display: none;
}
  
.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
  
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}


/*
=========================================================================
        Start Footer
=========================================================================
*/

footer {
    background-color: var(--website2);
    width: 100%;
    height: 100%;
}

.footer-nav {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}

.footer-nav li ul {
    list-style: none;
}

.list4 {
    
}


/* Begin Social Media Icons*/

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s ease-in-out;
}


.social li a:hover {
    transform: scale(0.9) translateY(-25px);
}

.social li img {
    width: 70px;
}


/*
=========================================================
        Begin Media Query
=========================================================
*/

@media (min-width: 500px) {

    /*
    =================================
    begin navbar
    =================================
    */
    .header {
        position: relative;
    }
    
    .menu {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .header .menu {
        max-height: none;
    }
    
    .header .menu-icon {
        display: none;
    }

    .menu li a {
        font-size: 28px;
        border-bottom: 1px solid whitesmoke;
    }

    .logo-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .logo {
        box-shadow: none;
        border: none;
        display: none;
    }
    
    .logo-img {
        margin: 30px 0 0 0;
        display: initial;
        width: 350px;
        height: 250px;
        border-radius: 50%;
        mix-blend-mode: luminosity;
    }


    /*
    ======================================
    begin banner
    ======================================
    */

    .banner-box {
        width: 90%;
        font-size: 20px;
    }

}

@media (min-width: 850px) {

     /*
    =================================
    begin navbar
    =================================
    */

    .header {
        padding: 20px;
        display: flex;
        justify-content: space-around;
        height: 30vh;
    }

    .logo-holder {
       
        width: 50%;
        height: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .logo-img {
        margin: 10px;
        padding: 30px;
        border-radius: 10px;
        width: 600px;
        box-shadow: var(--website1) inset 0px 4px 12px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 20%;
        
    }

    .menu li a {
        font-size: 26px;
        margin: 0px;
        padding: 8px;
    }
    
    .menu a {
        padding: 20px;
    }
}