/** @format */

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");

:root {
	--primary-color: #c40000;
	--primary-color-lighter: rgb(255, 36, 36);

	--back-ground-color: #ffffff;
	--secondar-back-ground-color: #f5f5f5;

	--dark-color: #000000;
	--grey-color: #aaaaaa;
	--light-color: #ffffff;
}

* {
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	margin: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 250vh;
	width: 100vw;
	background-color: var(--back-ground-color);
}

.box-1 {
	background-image: url("https://images.unsplash.com/photo-1445543949571-ffc3e0e2f55e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTV8fHdpbnRlcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}

.box-2 {
	background-image: url("https://images.unsplash.com/photo-1473496169904-658ba7c44d8a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8c3VtbWVyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60");
}

.box-3 {
	background-image: url("https://images.unsplash.com/photo-1508881136857-d1781947f4d6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}

.box-4 {
	background-image: url("https://images.unsplash.com/photo-1507980062492-714282f31ee0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTR8fGF1dHVtbnxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=700&q=60");
}

.box-5 {
	background-image: url("https://images.unsplash.com/photo-1608553470962-a8248e668d61?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}

.box-6 {
	background-image: url("https://images.unsplash.com/photo-1560258018-c7db7645254e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80");
}

.box-7 {
	background-image: url("https://images.unsplash.com/photo-1488818138649-d2734488e6d0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80");
}

.box {
	width: 400px;
	height: 160px;
	margin: 10px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 25px;
	color: var(--light-color);

	background-color: var(--primary-color);
	border: #ffffff;
	border-radius: 5px;
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.6);

	transform: translateX(-300%);
	transition: transform 500ms ease-in-out;
}

.box h2 {
	-webkit-text-stroke: 0.5px var(--grey-color);
	text-transform: uppercase;
}

.box:nth-of-type(even) {
	transform: translateX(+300%);
}

.box.show {
	transform: translateX(0);
}

.box.show:hover {
	cursor: pointer;
	background-color: var(--primary-color-lighter);
	transform: scale(1.5);
}

.box.show:hover ~ .box.show {
	filter: blur(1px);
}
