@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto" "Times New Roman", Times, serif;
}

/*
=====================================================================
        Start of Showcase
=====================================================================
*/

.showcase {
	position: absolute;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: #111;
	color: white;
	z-index: 2;
}

.showcase header {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	justify-content: flex-end;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #128ac2;
	mix-blend-mode: overlay;
}

.showcase video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.4;
}

.showcase-text {
	z-index: 10;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.logo {
	width: 300px;
	border-radius: 50%;
	opacity: 0.9;
	transition: 0.4s ease-in-out;
}

.showcase-text h1 {
	font-family: "advent pro", "Times New Roman", Times, serif;
	padding: 20px;
	font-size: 3rem;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
}

.showcase-text p {
	font-family: cursive;
	font-size: 1.2em;
	padding: 20px 0;
	font-weight: 400;
	max-width: 700px;
	text-align: center;
}

.showcase-text a {
	display: inline-block;
	font-size: 1em;
	background: #fff;
	padding: 10px 30px;
	text-decoration: none;
	color: whitesmoke;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.5s;
	box-shadow: rgba(5, 119, 172, 0.726) 0px -23px 25px 0px inset,
		rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
		rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
		rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
		rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.showcase-text a:hover {
	letter-spacing: 6px;
	opacity: 0.7;
}

/*
=====================================================================
        End of Showcase
=====================================================================
*/
/*
=====================================================================
        Start of Hamburger Menu
=====================================================================
*/

.menu-wrap {
	top: 0;
	left: 0;
	z-index: 2;
}

.menu-wrap .toggler {
	position: relative;
	top: -45px;
	left: 65px;
	z-index: 3;
	cursor: pointer;
	width: 10px;
	height: 10px;
	opacity: 0;
}

.menu-wrap .hamburger {
	position: relative;
	top: -85px;
	left: 40px;
	z-index: 1;
	width: 60px;
	height: 60px;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Hamburger line */

.menu-wrap .hamburger > div {
	position: relative;
	width: 100%;
	height: 2px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
}

/* Top and Bottom lines of Hamburger menu*/
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
	content: "";
	position: absolute;
	top: -10px;
	width: 100%;
	height: 2px;
	background: inherit;
}

/* Moves line down */
.menu-wrap .hamburger > div:after {
	top: 10px;
}

/*Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
	transform: rotate(135deg);
}

/* Turns lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
	top: 0;
	transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
	transform: rotate(225deg);
}

/* Show menu */
.menu-wrap .toggler:checked ~ .menu {
	visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
	transform: scale(1.5);
	transition-duration: 0.9s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
	opacity: 1;
	transition: opacity 0.4s ease;
}

.menu-wrap .menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-wrap .menu > div {
	background-color: #128ac2;
	border-radius: 50%;
	width: 600px;
	height: 600px;
	display: flex;
	flex: none;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	transition: all 0.4s ease;
	box-shadow: 0 0 10px 0;
}

.menu-wrap .menu > div > div {
	text-align: center;
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
	list-style: none;
	color: whitesmoke;
	font-size: 1rem;
	padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li:hover {
	transition: 0.6 ease-in-out;
	border-radius: 50px;
	color: black;
}

.menu-wrap .menu > div > div > ul > li > a {
	color: inherit;
	text-decoration: none;
	transition: color 0.9s ease;
}

/*
=====================================================================
        End of Hamburger Menu
=====================================================================
*/

/*
======================================================
       Start Social Media Imgs
======================================================
*/

.social {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social li {
	list-style: none;
}

.social li a {
	display: inline-block;
	margin-right: 20px;
	transform: scale(0.5);
	transition: 0.5s ease-in-out;
}

.social li a:hover {
	transform: scale(0.9) translateY(-25px);
}

.social li img {
	width: 70px;
}

/*
======================================================
     End Social Media Imgs
======================================================
*/

@media screen and (min-width: 320px) {
	.showcase-text {
		padding-top: 80px;
	}
}

@media screen and (min-width: 500px) {
	.logo img {
		width: 400px;
		height: 250px;
	}

	.menu-wrap ul a {
		font-size: 20px;
	}

	.menu-wrap .hamburger {
		position: relative;
		top: -85px;
		left: 40px;
		width: 80px;
		height: 80px;
	}

	.menu-wrap .toggler {
		width: 50px;
		height: 50px;
		top: -15px;
		left: 55px;
	}
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 825px) {
	.logo img {
		width: 425px;
		height: 275px;
	}
	.menu-wrap ul a {
		font-size: 30px;
	}

	.social li img {
		width: 120px;
	}
}
