@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap');


:root {
    --website1: #0077b6;
    --website2: #90e0ef;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: whitesmoke;
    overflow-x: hidden;
}

/*
=======================================
        Start of NavBar
=======================================
*/

.logo {
    padding: 10px;
    display: inline-block;
}

.logo h1 {
    font-size: 30px;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    font-family: 'Caveat';
}

.header {
    background-color: var(--website1);
    box-shadow: 1px 1px 4px 0 whitesmoke;
    width: 100%;
    position: sticky;
    z-index: 3;
    top: 0;
    display: flex;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--website1);
}
  
.header li a {
    font-size: 1.3rem;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-bottom: 15px;
  }
  

  /* menu */
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    display: inline-block;
    padding-right: 150px;
    text-align: center;
}

.header .menu-btn:hover {
    background-color: var(--website1);
    border-radius: 40px;
    border: 1.5px solid white;
    height: 80%;
}

  /* menu icon */
  
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 40px 30px;
    position: relative;
    user-select: none;
}
  
.header .menu-icon .navicon {
    background: white;
    display: flex;
    height: 4px;
    position: relative;
    transition: background .2s ease-out;
    width: 35px;
}
  
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: flex;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
  
.header .menu-icon .navicon:before {
    top: 10px;
}
  
.header .menu-icon .navicon:after {
    top: -10px;
}
  
  /* menu btn */
  
.header .menu-btn {
    display: none;
}
  
.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
  
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/*
=========================================================================
        Start Footer
=========================================================================
*/

footer {
    color: whitesmoke;
    background-color: var(--website1);
    width: 100%;
    height: 100%;
    box-shadow: whitesmoke 0px -38px 36px -28px inset, var(--website1) 0px 2px 4px 0px inset;;
}

.footer-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    list-style: none;
}

.footer-nav li ul {
    list-style: none;
}
.footer-nav a {
    color: black;
    text-decoration: none;
}

.footer-list {
    padding: 10px;
    text-align: center;
}

.footer-list > h2 {
    font-size: 2rem;
    text-decoration: underline;
    padding-bottom: 10px;
}

.footer-list > h3 {
    text-decoration: underline;
    font-size: 1.35rem;
    padding-bottom: 2px;
}

.list1 {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.list2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.list3 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.list4 {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list2 li , .list3 li {
    padding-bottom: 4px;
}

.list2 a:hover, .list3 a:hover {
    color: whitesmoke;
}

/* Begin Social Media Icons*/

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s ease-in-out;
}


.social li a:hover {
    transform: scale(0.9) translateY(-25px);
}

.social li img {
    width: 70px;
}


/*
=========================================================
        Begin Media Query
=========================================================
*/

@media (min-width: 500px) {

    /*
    =================================
    begin navbar
    =================================
    */
    .header {
        position: relative;
    }
    
    .menu {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .header .menu {
        max-height: none;
    }
    
    .header .menu-icon {
        display: none;
    }

    .menu li a {
        font-size: 22px;
        border-bottom: 1px solid whitesmoke;
        margin: 0;
        padding: 0;
    }

    .menu li a:hover {
        color: black;
        border-bottom: 1px solid black;
        transition: .4s ease-in-out;
    }

    .logo-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .logo {
        box-shadow: none;
        border: none;
        display: none;
    }
    
    .logo-img {
        margin-top: 20px;
        display: initial;
        width: 350px;
        height: 250px;
        border-radius: 50%;
        mix-blend-mode: luminosity;
        
    }


    /*
    ======================================
    begin banner
    ======================================
    */

    .banner-box {
        width: 90%;
        font-size: 20px;
    }

}

@media (min-width: 850px) {

     /*
    =================================
    begin navbar
    =================================
    */

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 30vh;
    }

    .logo-holder {
        width: 50%;
        height: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .logo-img {
        margin: 10px;
        padding: 30px;
        border-radius: 50%;
        width: 300px;
        box-shadow: var(--website1) inset 0px 4px 12px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }

    .menu li a {
        text-align: center;
        font-size: 1.5em;
        margin: 10px;
        padding: 8px;
        margin-bottom: 50px;
        margin-right: 30px;
    }
    
    .services-intro {
        flex-direction: row;
        align-items: stretch;
    }

    .services-intro1 {
        flex-direction: column;
        margin-right: 40px;
    }

    .services-intro1 h1, p {
        padding: 30px;
    }

    .services-intro1 h1 {
        padding-left: 90px;
    }



}

@media (min-width: 1200px) {

    .logo-img {
        width: 400px;
    }

    .menu li a {
        font-size: 1.75rem;
        margin-right: 40px;
    }
}

@media (min-width: 1300px) {

    .logo-img {
        width: 500px;
    }

    .menu li a {
        font-size: 1.9rem;
        margin-right: 60px;
    }
}