@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap');


:root {
    --website1: #0077b6;
    --website2: #90e0ef;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: whitesmoke;
    overflow-x: hidden;
}

/*
=======================================
        Start of NavBar
=======================================
*/

/*
=========================================================================
        Start Footer
=========================================================================
*/

footer {
    color: whitesmoke;
    background-color: var(--website1);
    width: 100%;
    height: 100%;
    box-shadow: whitesmoke 0px -38px 36px -28px inset, var(--website1) 0px 2px 4px 0px inset;
}

.footer-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    list-style: none;
}

.footer-nav li ul {
    list-style: none;
}
.footer-nav a {
    color: black;
    text-decoration: none;
}

.footer-list {
    padding: 10px;
    text-align: center;
}

.footer-list > h2 {
    font-size: 2rem;
    text-decoration: underline;
    padding-bottom: 10px;
}

.footer-list > h3 {
    text-decoration: underline;
    font-size: 1.35rem;
    padding-bottom: 2px;
}

.list1 {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.list2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.list3 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.list4 {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list2 li , .list3 li {
    padding-bottom: 4px;
}

.list2 a:hover, .list3 a:hover {
    color: whitesmoke;
}

/* Begin Social Media Icons*/

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s ease-in-out;
}


.social li a:hover {
    transform: scale(0.9) translateY(-25px);
}

.social li img {
    width: 70px;
}


/*
=========================================================
        Begin Media Query
=========================================================
*/

@media (min-width: 500px) {

    /*
    =================================
    begin navbar
    =================================
    */
    
    .nav-bar .menu-icon {
        display: none;
    }

}