@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap");

:root {
	--website1: #0077b6;
	--website2: #90e0ef;
	--website3: #efebce;
	--website4: #d6ce93;
	--website5: #a3a380;

	--primary-color: #c40000;
	--primary-color-lighter: rgb(255, 36, 36);

	--back-ground-color: #ffffff;
	--secondary-back-ground-color: #f5f5f5;

	--dark-color: #000000;
	--grey-color: #aaaaaa;
	--light-color: #ffffff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Times New Roman", Times, serif;
}

body {
	background: whitesmoke;
	overflow-x: hidden;
}

/*
============================================================
        Start of Banner
============================================================
*/

.nav-banner {
	width: 100%;
	min-height: 50vh;
	height: 70vh;
	background: url(/img/servicebanner.png);
	background-size: cover;
	opacity: 0.9;
	box-shadow: 0 0 15px 5px;
}

.banner-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.banner-box {
	display: flex;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	padding: 10px;
	box-shadow: 0px 0px 10px 2px var(--website5);
}

.banner-text {
	margin-top: 10px;
	color: white;
	font-size: 1em;
	letter-spacing: 1.1px;
	text-align: center;
}

.btn-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-btn a {
	text-decoration: none;
	color: black;
}

.banner-btn {
	margin-bottom: 10px;
	min-width: 280px;
	min-height: 50px;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	font-weight: 700;
	color: #313133;
	background: whitesmoke;
	background: linear-gradient(90deg, var(--website1) 0%, var(--website3) 100%);
	border: none;
	border-radius: 1000px;
	box-shadow: 5px 5px 19px 10px var(--website2);
	transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 10px;
}

.banner-btn::before {
	content: "";
	border-radius: 1000px;
	min-width: calc(300px + 12px);
	min-height: calc(60px + 12px);
	border: 6px solid white;
	box-shadow: 0 0 60px white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
	color: #313133;
	transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
	opacity: 1;
}

button::after {
	content: "";
	width: 30px;
	height: 30px;
	border-radius: 100%;
	border: 3px solid white;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: ring 2.3s infinite;
}

button:hover::after,
button:focus::after {
	animation: none;
	display: none;
}

@keyframes ring {
	0% {
		width: 10px;
		height: 10px;
		opacity: 0.8;
	}
	100% {
		width: 400px;
		height: 400px;
		opacity: 0;
	}
}

/*
=====================================================================
    Start of Service intro
=====================================================================
*/

.cleaningServiceIcon {
	width: 90px;
	height: 90px;
	margin-bottom: 2px;
	transition: all 0.5s ease;
}

.services-intro {
	margin-top: 3vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
	
}

.services-intro1 {
	background-color: var(--website1);
	color: whitesmoke;
	width: 100%;
	padding: 40px;
	display: flex;
	flex-direction: column;
	transition: all 0.5s ease;
}

.services-intro1 h1 {
	border-bottom: 1px solid;
	color: whitesmoke;
	text-align: center;
	padding-bottom: 10px;
	font-size: 30px;
	height: 100%;
	transition: all 0.5s ease;
}

.services-intro1 > div {
	text-align: center;
	font-size: 20px;
	list-style: none;
	margin: 40px;
}

.service-description > div {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.service-description p {
	margin-right: 3rem;
}

.service-description h3 {
	font-size: 1.2rem;
	transition: all 0.5s ease;
}

.services-intro2 {
	background-color: var(--website1);
	display: flex;
	flex-direction: column;
	padding: 40px;
	text-align: center;
}

.services-intro2 h2 {
	font-size: 30px;
	margin-bottom: 40px;
	padding-bottom: 10px;
	border-bottom: 1px solid whitesmoke;
	transition: all 0.5s ease;
}

.services-intro2 p {
	font-size: 24px;
	transition: all 0.5s ease;
}

.hidden-text {
	display: none;
}

/*
=========================================================================
        Start of Gallery
=========================================================================
*/

.gallery {
	margin-top: 3vh;
}

.gallery-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--back-ground-color);
	overflow-x: hidden;
	padding: 5rem 0;
}

.gallery-container h1 {
	margin-bottom: 5vh;
	font-size: 2rem;
	border-bottom: 1px solid;
}

.gallery-container h2 {
	text-align: center;
	color: black;
	font-size: 1.4rem;
	padding-bottom: 200px;
	text-shadow: 10px 10px 25px var(--website1), -10px 10px 25px var(--website1),
		-10px -10px 25px var(--website1), 10px -10px 25px var(--website1);
	text-transform: uppercase;
}

.box-1 {
	background-image: url("https://images.unsplash.com/photo-1517467139951-f5a925c9f9de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
}

.box-2 {
	background-image: url("https://images.unsplash.com/photo-1484154218962-a197022b5858?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80");
}

.box-3 {
	background-image: url("https://images.unsplash.com/photo-1584622650111-993a426fbf0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2xlYW4lMjBiYXRocm9vbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
}

.box-4 {
	background-image: url("https://images.unsplash.com/photo-1519710164239-da123dc03ef4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}

.box-5 {
	background-image: url("https://images.unsplash.com/photo-1534889156217-d643df14f14a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGNsZWFuJTIwaG9tZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
}

.box-6 {
	background-image: url("https://images.unsplash.com/photo-1567016515344-5e3b0d67bb75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA2fHxyZWxheGluZyUyMGF0JTIwaG9tZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
}

.box {
	width: 85%;
	height: 350px;
	max-width: 1200px;
	margin: 25px 10px ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	color: var(--light-color);
	background-color: var(--primary-color);
	border: #ffffff;
	border-radius: 5px;
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.6);
	transform: translateX(-300%);
	transition: transform 500ms ease-in-out;
	transition: all 0.5s ease;
}

.box:nth-of-type(even) {
	transform: translateX(+300%);
}

.box.show {
	transform: translateX(0);
}

.box.show:hover {
	cursor: pointer;
	background-color: var(--primary-color-lighter);
	transform: scale(1.1);
}

.box.show:hover ~ .box.show {
	filter: blur(1px);
}

/*
=====================================================================
    Start of Service Checklist
=====================================================================
*/

.table-pattern {
	background-color: var(--website1);
}

.cleaning-checklist {
	width: 100%;
	padding: 5rem 1rem;
}

.cleaning-checklist-header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	transition: all 0.5s ease;
}

.cleaning-checklist-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.cleaning-checklist-table {
	text-align: center;
	width: 90%;
}

.cleaning-checklist-table caption {
	font-size: 2rem;
	text-decoration: underline;
	font-family: cursive;
}

.cleaning-checklist-table thead th {
	font-size: 0.9rem;
	padding: 3rem .5rem;
}

.cleaning-checklist-table tbody td {
	padding-top: 5px;
	padding-bottom: 10px;
	font-size: 0.9rem;
}

.list-odd {
	color: whitesmoke;
}

/* styling for check mark */
.check {
	display: inline-flex;
	transform: rotate(45deg);
	height: 24px;
	width: 12px;
	border-bottom: 7px solid greenyellow;
	border-right: 7px solid greenyellow;
}

/*
=========================================================
        Start Media Queries
=========================================================
*/


@media screen and (min-width:480px) {

	/* Start of Banner */


	/* Start of Service Intro */
	
	.cleaningServiceIcon {
		width: 100px;
		height: 100px;
		margin-bottom: 2px;
		transition: all 0.5s ease;
	}

	/* Start of Gallery */

	

	/* Start of Checklist */


	/* Start of Footer */
}

/* TABLETS PORTRAIT */
@media screen and (min-width: 768px) {


	/* Start of Banner */
	.banner-box {
		margin: 10rem 10rem;
		width: 600px;
		height: 300px;
		transition: all 0.5s ease;
	}

	/* Start of Service Intro */

	.cleaningServiceIcon {
		width: 120px;
		height: 120px;
		margin-bottom: 2px;
		transition: all 0.5s ease;
	}

	.hidden-text {
		display: contents;
	}

	.service-description {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		padding: 10px 20px;
	}

	.service-description p {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.services-intro1 {
		transition: all 0.5s ease;
	}

	/* Start of Gallery */


	/* Start of Checklist */


	/* Start of Footer */

}


/* TABLET LANDSCAPE / DESKTOP */
@media screen and (min-width: 1500px) {


	/* Start of Banner */


	/* Start of Service Intro */

	.cleaningServiceIcon {
		width: 150px;
		height: 150px;
		margin-bottom: 2px;
		transition: all 0.5s ease;
	}

	/* Start of Gallery */


	/* Start of Checklist */

	.cleaning-checklist h2 {
		font-size: 2rem;
		transition: all 0.5s ease;
	}

	.cleaning-checklist-container {
		flex-direction: row;
	}

	.cleaning-checklist-table {
		margin: 10px 10px;
	}
	
	.cleaning-checklist-table > thead > tr > th {
		font-size: 1.3rem;
		transition: all 0.5s ease;
	}

	.cleaning-checklist-table > tbody > tr > td {
		font-size: 1.1rem;
		transition: all 0.5s ease;
	}	

	/* Start of Footer */

}    


