@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lora','Times New Roman', Times, serif;
}

body {
    background: rgba(0, 255, 255, 0.3);
    
}

/*
=======================================
        Start of NavBar
=======================================
*/

.header {
    background-color: black;
    box-shadow: 1px 1px 4px 0 rgba(0,255,255,.9);
    width: 100%;
    position: sticky;
    z-index: 3;
    top: 0;
    display: inline-block;
}
  
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: aqua;
}
  
.header li a {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}
  
.header .logo {
    font-family: cursive;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.7rem;
   margin-top: 10px;
   padding: 20px;
   color: whitesmoke;
}
  
  /* menu */
  
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
  
  /* menu icon */
  
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
  
.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
  
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
  
.header .menu-icon .navicon:before {
    top: 5px;
}
  
.header .menu-icon .navicon:after {
    top: -5px;
}
  
  /* menu btn */
  
.header .menu-btn {
    display: none;
}
  
.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
  
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/*
============================================================
        Start of Banner
============================================================
*/


.nav-banner {
    width: 100%;
    min-height: 50vh;
    height: 85vh;
    background: url(/img/servicebanner.png);
    background-size: cover;
    opacity: 0.9;
    box-shadow: 0 0 15px 5px;
}


.banner-container {
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}

.banner-box {
    
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20%;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px aqua;
}

.banner-text {
    margin-top: 10px;
    color: white;
    font-size: 1em;
    letter-spacing: 1.1px;
    text-align: center;
}

.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-btn a {
    text-decoration: none;
    color: black;
}

.banner-btn {
    margin-bottom: 10px;
    min-width: 280px;
    min-height: 50px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: aqua;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%,
     rgba(79,209,197,1) 100%);
     border: none;
     border-radius: 1000px;
     box-shadow: 12px 12px 24px rgba(79,209,197,0.64);
     transition: all 0.3s ease-in-out 0s;
     cursor: pointer;
     outline: none;
     position: relative;
     padding: 10px;
}

.banner-btn::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 3px solid #00FFCB;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 2.3s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 10px;
      height: 10px;
      opacity: .8;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }


/*
=====================================================================
    Start of Main
=====================================================================
*/

.services-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}



/*
=========================================================================
        Start Footer
=========================================================================
*/

.footer-nav {
    border: 1px solid red;
    width: 100%;
    height: 60%;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.footer-links{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}


.footer-links ul {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.footer-links ul li {
    padding: 10px;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-links ul li a {
    text-decoration: none;
}


/*
=========================================================
        Begin Media Qurt
=========================================================
*/

@media (min-width: 500px) {

}

@media (min-width: 768px) {
    .header li {
        float: left;
      }
      .header li a {
        padding: 20px 30px;
      }
      .header .menu {
        clear: none;
        float: right;
        max-height: none;
      }
      .header .menu-icon {
        display: none;
      }
}