@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lora','Times New Roman', Times, serif;
}

body {
    background: rgba(0, 255, 255, 0.3);
    
}

/*
=======================================
        Start of NavBar
=======================================
*/

header {
    position: fixed;
    background-color: black;
    opacity: 0.6;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1.2s;
    padding: 20px 50px;
    z-index: 1000;
}
header.sticky {
    padding: 5px 100px;
    background: #fff;    
}

header.sticky a {
    color: #000;
}

header.sticky a:hover {
    padding: 5px;
    text-transform: uppercase;
    color: aqua;
    background-color: black;
    border-radius: 10px;
}

header .logo {
    user-select: none;
    position: relative;
    font-weight: 700;
    color: aqua;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 3px;
    transition: 2s;
}

header.sticky .logo {
    color: #000;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    display: flex;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: aqua;
    transition: 0.9s;
    font-size: 1.3em;
    text-align: center;
}

header a:hover {
    padding: 5px;
    text-transform: uppercase;
    color: black;
    background-color: white;
    border-radius: 10px;
}


/*
============================================================
        Start of Banner
============================================================
*/


.nav-banner {
    width: 100%;
    min-height: 50vh;
    height: 85vh;
    background: url(/img/servicebanner.png);
    background-size: cover;
    opacity: 0.9;
    box-shadow: 0 0 15px 5px;
}


.banner-container {
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}

.banner-box {
    
    display: flex;
    flex-direction: column;
    min-width: 60%;
    max-width: 65%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20%;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px aqua;
}

.banner-text {
    margin-top: 10px;
    color: white;
    font-size: 1em;
    letter-spacing: 1.1px;
    text-align: center;
}

.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-btn a {
    text-decoration: none;
    color: black;
}

.banner-btn {
    margin-bottom: 10px;
    min-width: 280px;
    min-height: 50px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: aqua;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%,
     rgba(79,209,197,1) 100%);
     border: none;
     border-radius: 1000px;
     box-shadow: 12px 12px 24px rgba(79,209,197,0.64);
     transition: all 0.3s ease-in-out 0s;
     cursor: pointer;
     outline: none;
     position: relative;
     padding: 10px;
}

.banner-btn::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 3px solid #00FFCB;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 2.3s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 10px;
      height: 10px;
      opacity: .8;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }


/*
=====================================================================
    Start of Main
=====================================================================
*/

.services-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}



/*
=========================================================================
        Start Footer
=========================================================================
*/

.footer-nav {
    border: 1px solid red;
    width: 100%;
    height: 60%;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.footer-links{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}


.footer-links ul {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.footer-links ul li {
    padding: 10px;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-links ul li a {
    text-decoration: none;
}


@media ()